* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-style: normal;
  --ff-weight: normal;
  --clr-primary: #4f4f4f;
  --clr-secondary: #333333;
  --clr-white: #ffffff;
}
img {
  width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
  display: block;
}
body {
  font-family: var(--ff-primary);
  font-style: var(--ff-style);
  font-weight: var(--ff-weight);
}
.container {
  min-height: 100vh;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
}
.container {
  background: var(--clr-white);
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}
.not-found {
  padding-top: 2rem;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}
.scarecrow {
  display: flex;
  justify-content: center;
}
.scarecrow img {
  width: 80%;
  margin-top: 4rem;
}
.page-title {
  width: 95%;
  font-weight: bold;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.035em;
  color: var(--clr-secondary);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.page-text {
  width: 80%;
  font-size: 1.15rem;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: var(--clr-primary);
  margin-bottom: 2rem;
}
.back-to-home a {
  display: inline-block;
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background: var(--clr-secondary);
  color: var(--clr-white);
  letter-spacing: -0.035em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.group-name {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--clr-secondary);
  margin-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .container {
    min-height: 100vh;
  }
  .not-found {
    font-size: 1.5rem;
  }
  .main {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .main article {
    flex: 0 0 calc(50% - 2rem);
  }
  .scarecrow img {
    width: 100%;
  }
  .page-title {
    font-size: 60px;
    line-height: 1;
    width: 100%;
  }
  .page-text {
    width: 70%;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
  }
  .back-to-home a {
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 0.01rem;
  }

  .group-name {
    position: absolute;
    bottom: 2%;
    right: 50%;
    transform: translate(50%);
    font-family: var(--ff-primary);
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    margin-top: 0;
  }
  .main article {
    flex: 0 0 calc(50% - 1rem);
  }
  .scarecrow img {
    width: 90%;
  }
  .page-title {
    width: 80%;
  }
  .page-text {
    width: 50%;
  }
}
